<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link href="http://d1b.github.com/mucs_site/atom.xml" rel="alternate" title="RSS feed here" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="https://spreadsheets.google.com/viewform?hl=en&formkey=dHVVTXVWOE5pS0doVktxVkYxdk1Ga2c6MA..">Sign Up!                </a>
    <a class="extratop" href="http://www.google.com/calendar/embed?src=23vnc2d5i4q6hedopsnh9dr0do%40group.calendar.google.com&ctz=Australia/Sydney">   Draft Events Calendar   </a>
    <a class="extra" href="http://mu-cs.com">home</a>
    <a href="https://moodle.comp.mq.edu.au/course/enrol.php?id=77">____MUCS Moodle Forum     </a>
  </div>

    <img src="http://sites.google.com/site/mucssite/home/6120_107406748089_107398073089_2175996_5771086_n.jpg" alt="mucs logo" />
  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
      MUCS<br />
      Macquarie University Computing Society
      </p>
    </div>
    <div class="contact">
      <p>
	<a href="http://twitter.com/csmq/">twitter account @csmq</a> <br />
	<a href="http://www.facebook.com/pages/Macquarie-University-Computing-Society/107398073089">MUCS facebook page</a><br />
	<a href="mailto:contact (NO.SPAM) @mu-cs.com">Email</a><br />

      </p>
    </div>
  </div>
</div>

<a href="http://github.com/mucs"><img style="position: absolute; top: 0; right: 0; border: 0;"
src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
<!-- google analytics javascript -->
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-10476367-2");
		pageTracker._trackPageview();
	} catch(err) {}</script>

</body>
</html>



